services:
  app:
    user: vscode
    container_name: dev-moderndev-container
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    volumes:
      - type: bind
        source: .
        target: /src
