# Notion テンプレート対応: https://chocolate-weather-214.notion.site/Template-Project-33ff76ee7f86800c8033cef10890465e?source=copy_link
NOTION_API_KEY=your_notion_integration_token
PORT=3500
NOTION_DATABASE_ID=your_notion_database_id #データベース ID は Notion の URL `notion.so/<workspace>/<DATABASE_ID>?v=...` から取得
PARENT_RELATION_PROP=親タスク
CHILDREN_RELATION_PROP=サブタスク
PERIOD_PROP=期間
EFFORT_PROP=見積(人日)
PARENT_TEMPLATE_PATH=docs/parent-template.json
CHILD_TEMPLATE_PATH=docs/child-template.json